@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll-props {
  scrollbar-width: auto;
  scrollbar-color: default;
}

.scroll-props::-webkit-scrollbar {
  width: auto;
}

.scroll-props::-webkit-scrollbar-track {
  background-color: #ECEEF0
}


@media screen and (max-width: 640px) {
  .scroll-props {
    scrollbar-width: none;
  }
}